<div class="container">
  <div class="row">
    <div class="col s10 m8 l6 center
                  offset-m2 offset-s1 offset-l3" style="padding-top: 2rem">
      <div>
        <input
          placeholder="Вставьте ссылку"
          id="link"
          type="text"
          [(ngModel)]="link"
          (keyup.enter)="enter($event)"
        />
        <label For="link">Введите ссылку</label>
      </div>
      <a class="waves-effect blue darken-1 btn btn-size" (click)="enter($event)">Ok</a>
    </div>
  </div>
</div>
