<div class="container">
  <div *ngIf="links$ | async as links; else loading">
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Оригинальная</th>
        <th>Сокращенная</th>
        <th>Открыть</th>
      </tr>
      </thead>

      <tbody *ngFor="let link of links; let indexOfElement = index">
      <tr >
        <td>{{indexOfElement + 1}}</td>
        <td>{{link.from}}</td>
        <td> {{link.to}}</td>
        <td>
          <a href="/detail/{{link._id}}" (click)="open($event, link._id)">Открыть</a>
          <!--          <Link to={`/detail/${link._id}`}>Открыть</Link>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>






